<h1 class="title animate__animated animate__bounce">{{ title }}</h1>

<ul class="animate__animated animate__flipInX" *ngIf="mode === 'list'">
    <p class="text-center" *ngIf="todos.length === 0"><small>You don't have tasks today!!!</small></p>
    <li *ngFor="let todo of todos">
        {{ todo.title }}
        <button (click)="remove(todo)"><i class="far far fa-calendar-times" style="color: #ed333b;"></i></button>
        <button *ngIf="!todo.done" (click)="done(todo)"><i class="far fa-calendar-check" style="color: #26a269;"></i></button>
        <button *ngIf="todo.done" (click)="undone(todo)"><i class="far far fa-calendar" style="color: #e4a50a;"></i></button>
    </li>

    <p class="text-center">
        <button (click)="changeMode()" class="button-newTask">New Task</button>
    </p>
</ul>

<div id="modal" *ngIf="mode === 'add'" class="animate__animated animate__flipInX">
    <h1 class="text-center">New Task</h1>
    <form>
        <input (keypress)="updateStatus()" [(ngModel)]="inputText" name="inputText" type="text" placeholder="Task title" maxlength="60">
            
        <small class="danger" *ngIf="inputStatus !== false && inputText.length < 3">Este campo deve conter entre 3 e 60 caracteres</small>
        
        <p class="text-center">
            <button class="button" [disabled]="inputText.length < 3" (click)="add(inputText)"><i class="far fa-calendar-plus"></i></button>
        </p>
    </form>

    <p class="text-center">
        <button (click)="changeMode()" class="button-cancel">Cancel</button>
    </p>
</div>
